.auth-panel {
    width: 90%;
    max-width: 400px;
    margin: 10vh auto;
}

.auth-panel__header {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-variant: small-caps;
}

.auth-panel__main .ant-form-item {
    height: 60px;
}

.auth-panel__main .ant-row {
    margin: 0 !important;
}

.auth-panel__main .ant-input::placeholder,
.auth-panel__main .ant-input::-webkit-input-placeholder {
    color: grey;
}

.auth-panel__main .ant-input {
    border-radius: 0px !important;
    border: none !important;
    outline: none !important;
    padding: 20px 20px;
    height: 60px;
}

.auth-panel__main .ant-form-item:first-child .ant-input {
    border-top-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
}

.auth-panel__main .ant-input:hover {
    background-color: #EEEEEE;
}

.auth-panel__main .ant-input:focus {
    background-color: #E0E0E0;   
}

.auth-panel__main .ant-input:focus {
    box-shadow: none !important;
}

.auth-panel__main .ant-btn {
    margin: 0;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 0 0 7px 7px;
    color: white;
    background-color: #1976D2;
    font-size: 18px;
}

.auth-panel__main .ant-btn:focus {
    background-color: #1565C0;
    color: white;
}

.auth-panel__main .ant-btn:hover {
    color: white;
    background-color: #1565C0;
}

.auth-panel__main .ant-btn:active {
    background-color: #0D47A1;
}

.auth-panel__footer {
    text-align: center;
    color: white;
}

.auth-panel__footer a {
    color: white;
    text-decoration: underline;
}

.auth-panel__footer a:hover {
    color: white;
}

.auth-panel__main .has-error .ant-input {
    background-color: #FFCDD2;
}

.auth-panel__main .has-error .ant-input:hover {
    background-color: #FCC2C8;
}

.auth-panel__main .has-error .ant-input:focus {
    background-color: #FFBCC3;
}

.auth-panel__main .has-error .ant-form-explain {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 6px;
    background-color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
}

.auth-panel__main .has-error .ant-form-explain:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: white;
    border-left: 0;
    margin-top: -6px;
    margin-left: -6px;
}
