.music-page {
}

.music-page__controls-panel {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: fit-content
}

.music-page__controls-panel > div {
    margin-top: 5px;
    width: 120px;
}

button.sa-btn,
.music-page__controls-panel .ant-select-selection {
    width: 120px;
    height: 30px;
    background-color: #448AFF;
    color: white;
    border-color: #448AFF; 
}

button.sa-btn:focus,
.music-page__controls-panel .ant-select-selection:focus {
    background-color: #1976D2;
    color: white;
    border-color: #1976D2;
    outline-color: #1976D2;
}

button.sa-btn:hover,
.music-page__controls-panel .ant-select-selection:hover {
    background-color: #1976D2;
    color: white;
    border-color: #1976D2;
    outline-color: #1976D2;
}

.music-page__controls-panel .ant-select-disabled > div {
    background-color: #BBDEFB !important;
    border-color: #BBDEFB !important;
    cursor: pointer;
}

.music-page__upload-progress {
    text-align: center;
}

.music-page__controls-panel > div > span {
    font-size: 13px;
}

.row {
    width: 100%;
}

.loading-container {
    text-align: center;
    width: 100%;
}

.track-item {
    padding: 4px;
    cursor: pointer;
    width: 100%;
    position: relative;
    transition: 0.2s ease;
    border-radius: 4px;
    z-index: 4;
}

.track-item:hover {
    background-color: rgb(25, 118, 210, 0.3);
    transition: 0.2s ease;
}

/* .track-item:active {
    background-color: rgb(25, 118, 210, 0.4);
    transition: 0.2s ease;   
} */

.default-album-cover {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(25, 118, 210);
    border-radius: 4px;
    color: rgb(25, 118, 210);
    font-size: 33px;
    text-align: center;
}

.track-item > div:first-child {
    float: left;
}

.track-item__picture {
    width: 60px;
    height: 60px;
}

.track-item__picture img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.track-item__info {
    margin-left: 65px;
    height: 100%;
    position: relative;
}

.track-item__info > div {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
}

.track-item__info-title {
    color: black;
    font-size: 17px;
    top: 2px;
    left: 2px;
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-item__info-album {
    display: none;
}

.track-item__info-artist {
    left: 2px;
    bottom: 5px;
    font-size: 15px;
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-item__info-duration {
    right: 10px;
    top: 50%;
}

.track-item__info-duration span {
    font-family: 'Roboto' !important;
}

.track-item__controls {
    position: absolute;
    top: 0;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.track-item__controls button {
    background: rgb(25, 118, 210, 0.4);
    color: white;
    border: none;
    margin: 0 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    transition: 0.2s ease;
    opacity: 0;
    z-index: 5;
}

.track-item__controls button:hover {
    background-color: rgb(25, 118, 210, 0.7);
    transition: 0.2s ease;
}

.track-item:hover .track-item__controls button {
    opacity: 1;
    transition: 0.2s ease;
}

.track-item:hover .track-item__controls button:active {
    background-color: rgb(25, 118, 210, 0.9);
    transition: 0.2s ease;
}

.ant-modal, .ant-modal-wrap {
    z-index: 1062 !important;
}

.ant-modal-mask {
    z-index: 1052 !important;
}

.music-page__modal-btns {
    text-align: center;
}

.music-page__edit-fields > div,
.music-page__edit-fields > span {
    margin: 5px 0;
}

.toggle-lyrics-btn {
    color: #42A5F5;
    cursor: pointer;
    transition: 0.2s ease;
}

.toggle-lyrics-btn:hover {
    color: #1E88E5;
    text-decoration: underline;
    transition: 0.2s ease;
}

button.sa-btn-success {
    background-color: #43A047;
    border-color: #43A047;
}

button.sa-btn-success:hover {
    background-color: #388E3C;
    border-color: #388E3C;
}

button.sa-btn-success:focus {
    background-color: #388E3C;
    border-color: #388E3C;
}

button.sa-btn-error {
    background-color: #F4511E;
    border-color: #F4511E;
}

button.sa-btn-error:hover {
    background-color: #E64A19;
    border-color: #E64A19;
}

button.sa-btn-error:focus {
    background-color: #E64A19;
    border-color: #E64A19;
}

.music-page__delete-warning-text p {
    font-size: 16px;
}

.music-page__delete-warning-text p span {
    font-weight: bold;
}
