.rooms-main {
    background-color: #eaf2ff;
    height: 550px;
    border-radius: 5px;
}

.room-info {
    background-color: #eaf2ff;
    border-radius: 5px;
}

.rooms-list {
    margin-top: 15px;
    padding: 0 6px;
}

.room-card {
    background-color: rgb(25, 118, 210, 0.3);
    margin: 5px 6px;
    padding: 3px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.room-card:hover {
    background-color: rgb(25, 118, 210, 0.4);
    transition: 0.2s ease;
}

.room-card:active {
    background-color: rgb(25, 118, 210, 0.6);
    transition: 0.2s ease;
}

.room-card-active {
    background-color: rgb(25, 118, 210, 0.6) !important;
    transition: 0.2s ease; 
}

.room-name {
    position: absolute;
    font-size: 21px;
    top: 50%;
    transform: translateY(-50%);
}

.room-users { 
    position: absolute;
    font-size: 15px;
    right: 50px;
    top: 50%;
}

.room-card-delete {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding-left: 7px;
    padding-top: 3px;
    background: rgb(25, 118, 210, 0.4);
    color: white;
    border: none;
    margin: 0 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    transition: 0.2s ease;    
    z-index: 5;
    opacity: 0;
}

.room-card-delete:hover {
    background-color: rgb(25, 118, 210, 0.7);
    transition: 0.2s ease;
}

.room-card-delete:active {
    background-color: rgb(25, 118, 210, 0.9);
    transition: 0.2s ease;
}

.room-card:hover .room-card-delete {
    opacity: 1;
    transition: 0.2s ease;
}

.active {
    background-color: rgb(25, 118, 210, 0.6);
}

.info-header {
    height: 35px;
}

.info-header > span {
    float: left;
    margin: 3px;
    font-size: 27px;
}

.info-header .ant-btn {
    float: right;
    margin: 3px;
}

.descr {
    float: left;
    font-size: 20px;
    padding: 5px;
}

.now-playing {
    margin-top: 15px;
    padding: 5px;
    font-size: 18px;
    float: left;
}

.now-playing span {
    font-weight: bold;
}

.room-main__header {
    position: relative;
    width: 100%;
    height: 42px;
}

.room-main__header__search-bar {
    width: 500px;
}

.room-main__header__search-bar .ant-input {
    width: 400px !important;
    margin-left: 6px !important;
    margin-top: 5px !important;
    height: 40px;

}

.room-main__header__search-bar .ant-btn {
    margin-left: 6px !important;
    height: 40px;
    line-height: 38px;
}

.btn-create {
    position: absolute !important;
    height: 38px !important;
    top: 6px;
    right: 6px;
}